@using mbill_blazor_admin.Models.Base
@using mbill_blazor_admin.Models.Core.Output
@namespace mbill_blazor_admin.Pages.Core.User
@page "/core/user"

<PageContainer Title="用户管理">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>主页</BreadcrumbItem>
            <BreadcrumbItem>系统管理</BreadcrumbItem>
            <BreadcrumbItem>用户管理</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <ChildContent>
        <Card>
            <SearchForm OnSearch="HandleOnSearch" OnRest="HandleOnReset">
                <SearchFormItem Label="用户名">
                    <Input @bind-Value="@_page.Username" />
                </SearchFormItem>

                <SearchFormItem Label="昵称">
                    <Input @bind-Value="@_page.Nickname" />
                </SearchFormItem>

                <SearchFormItem Label="是否启用">
                    <Select DataSource="@_isEnableStatus"
                            @bind-Value="@_page.IsEnable"
                            ValueName="@nameof(SelectIntModel.Id)"
                            LabelName="@nameof(SelectIntModel.Name)"
                            Style="width:120px"
                            OnSelectedItemChanged="HandelOnIsEnableChange">
                    </Select>
                </SearchFormItem>

                <SearchFormItem Label="角色">
                    <Select DataSource="@_roleInfos"
                            @bind-Value="@_page.RoleId"
                            ValueName="@nameof(RoleModel.Id)"
                            LabelName="@nameof(RoleModel.Name)"
                            Style="width:120px">
                    </Select>
                </SearchFormItem>

                 <SearchFormItem Label="创建时间">
                    <RangePicker TValue="DateTime?[]" OnChange="HandleOnTimeRangeChange"/>
                </SearchFormItem>
            </SearchForm>
        </Card>
        <Card>
            <Button Type="@ButtonType.Primary" OnClick="HandleOnAddUser">
                新增
            </Button>
        </Card>
        <Card>
            <Table TItem="UserModel"
                   DataSource="@_users"
                   Loading="@_loading"
                   Total="_total"
                   ScrollX="1600"
                   OnChange="HandelOnOnChange"
                   @bind-PageIndex="_page.Page"
                   @bind-PageSize="_page.Size">
                @*<Selection Key="@(context.Id.ToString())" />*@
                <AntDesign.Column Title="ID" Width="80" Fixed="left" @bind-Field="@context.Id" Sortable />
                <AntDesign.Column Title="昵称" Width="130" Fixed="left" @bind-Field="@context.Nickname" />
                <AntDesign.Column Title="用户姓名" Width="130" Fixed="left" @bind-Field="@context.Username" />
                <AntDesign.Column Title="性别" @bind-Field="@context.Gender" />
                <AntDesign.Column Title="邮箱" @bind-Field="@context.Email" />
                <AntDesign.Column Title="电话" @bind-Field="@context.Phone" />
                <AntDesign.Column Title="地址" @bind-Field="@context.Address" />
                <AntDesign.Column Title="角色" @bind-Field="@context.Roles">
                    @foreach (var role in context.Roles)
                            {
                    <Tag Color="blue">@role.Name</Tag>
                    }
                </AntDesign.Column>
                <AntDesign.Column Title="最后一次登陆时间" @bind-Field="@context.LastLoginTime" />
                <AntDesign.Column Title="启用状态" Field="@context.IsEnable">
                    <Switch @bind-Value="@context.IsEnable"></Switch>
                </AntDesign.Column>
                <ActionColumn Title="操作">
                    <Space>
                        <SpaceItem><Button Type="primary" Ghost OnClick="()=>HandelOnEdit()">编辑</Button></SpaceItem>
                    </Space>
                    <Space>
                        <SpaceItem><Button Danger OnClick="()=>HandelOnDelete(context.Id)">删除</Button></SpaceItem>
                    </Space>
                </ActionColumn>
            </Table>
            @*<br />
                <h5>已选:</h5>
                @if (_selectedRows != null && _selectedRows.Any())
                {
                <Button Danger Size="small" OnClick="@(e => { _selectedRows = null; })">Clear</Button>

                @foreach (var selected in _selectedRows)
                {
                <Tag @key="selected.Id" Closable OnClose="e=>RemoveSelection(selected.Id)">@selected.Id-@selected.Nickname</Tag>
                }
                }*@
        </Card>
    </ChildContent>
</PageContainer>

