@using mbill_blazor_admin.Models.Base
@using mbill_blazor_admin.Models.BaseData.Output
@namespace mbill_blazor_admin.Pages.BaseData.Asset
@page "/basedata/asset"

<PageContainer Title="资产管理">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>主页</BreadcrumbItem>
            <BreadcrumbItem>基础数据</BreadcrumbItem>
            <BreadcrumbItem>资产管理</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>

    <ChildContent>
        <Card>
            <SearchForm OnSearch="HandleOnSearch" OnRest="HandleOnReset">
                <SearchFormItem Label="资产分类名称">
                    <Input @bind-Value="@_page.AssetName" />
                </SearchFormItem>
                <SearchFormItem Label="归属分类">
                    <Select Mode="multiple"
                            AllowClear = "@true" 
                            DataSource="@_assetParents"
                            @bind-Values="@_selectedValues"
                            LabelName="@nameof(AssetModel.Name)"
                            ValueName="@nameof(AssetModel.Id)"
                            TItemValue="long"
                            TItem="AssetModel"
                            Style="min-width:160px"
                            OnSelectedItemsChanged="HandleOnSelectedItemsChanged"
                            EnableSearch>
                    </Select>
                </SearchFormItem>
                <SearchFormItem Label="类型">
                    <Select DataSource="@_types"
                            AllowClear = "@true" 
                            @bind-Value="@_page.Type"
                            ValueName="@nameof(SelectStringModel.Id)"
                            LabelName="@nameof(SelectStringModel.Name)"
                            Style="width:120px">
                    </Select>
                </SearchFormItem>
                <SearchFormItem Label="创建时间">
                    <RangePicker TValue="DateTime?[]" OnChange="HandleOnTimeRangeChange" />
                </SearchFormItem>
            </SearchForm>
        </Card>

        <Card>
            <Card>
                <Button Type="@ButtonType.Primary" OnClick="HandleOnAddAsset">
                    新增
                </Button>
            </Card>
            <Table TItem="AssetModel"
                   DataSource="@_assets"
                   Loading="@_loading"
                   Total="_total"
                   OnChange="HandelOnOnChange"
                   @bind-PageIndex="_page.Page"
                   @bind-PageSize="_page.Size">
                <AntDesign.Column Title="ID" @bind-Field="@context.Id" Sortable />
                <AntDesign.Column Title="图标" @bind-Field="@context.IconUrl">
                    @if (!string.IsNullOrWhiteSpace(context.IconUrl))
                            {
                    <Image Width="30px" Height="30px" Src="@context.IconUrl" />
                    }
                </AntDesign.Column>
                <AntDesign.Column Title="资产分类名称" @bind-Field="@context.Name" />
                <AntDesign.Column Title="类型" @bind-Field="@context.TypeName" />
                <AntDesign.Column Title="归属分类" @bind-Field="@context.ParentName">
                    @if (!string.IsNullOrWhiteSpace(context.ParentName))
                            {
                    <Tag Color="blue">@context.ParentName</Tag>
                    }
                </AntDesign.Column>
                <AntDesign.Column Title="创建时间" @bind-Field=@(context.CreateTime) />
                <ActionColumn Title="操作">
                    <Space>
                        <SpaceItem><Button Type="primary" Ghost OnClick="()=>HandelOnEdit(context)">编辑</Button></SpaceItem>
                    </Space>
                    <Space>
                        <SpaceItem><Button Danger OnClick="()=>HandelOnDelete(context.Id)">删除</Button></SpaceItem>
                    </Space>
                </ActionColumn>
            </Table>
        </Card>
        <Modal Title="编辑资产分类"
               Centered="true"
               Visible="@_editModalVisible"
               OnOk="@HandelOnEditOk"
               OnCancel="@HandleOnEditCancel">
            <Form LabelCol="new ColLayoutParam { Span = 5 }"
                  WrapperCol="new ColLayoutParam { Span = 16 }"
                  Model="_asset">
                @if (context.ParentId > 0)
                {
                    <FormItem Label="图标">
                        <Upload Action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                                Name="avatar"
                                Class="avatar-uploader"
                                ListType="picture-card"
                                ShowUploadList="false"
                                BeforeUpload="BeforeUpload"
                                OnChange="HandleChange">
                            @if (!string.IsNullOrWhiteSpace(context.IconUrl))
                            {
                                <img src="@context.IconUrl" alt="avatar" style="width: 100%" />
                            }
                            else
                            {
                                <div>
                                    <Icon Spin="_uploadLoading" Type="@(_uploadLoading?"Loading":"plus")" ></Icon>
                                    <div className="ant-upload-text">上传图标</div>
                                </div>
                            }
                        </Upload>
                    </FormItem>
                }

                <FormItem Label="资产分类名称">
                    <Input @bind-Value="@context.Name" />
                </FormItem>
                <FormItem Label="类型">
                    <Select DataSource="@_types"
                            @bind-Value="@context.Type"
                            ValueName="@nameof(SelectStringModel.Id)"
                            LabelName="@nameof(SelectStringModel.Name)">
                    </Select>
                </FormItem>
                @if (context.ParentId > 0) 
                {
                    <FormItem Label="归属分类">
                        <Select DataSource="@_assetParents"
                                @bind-Value="@context.ParentId"
                                LabelName="@nameof(AssetModel.Name)"
                                ValueName="@nameof(AssetModel.Id)"
                                EnableSearch>
                        </Select>
                    </FormItem>
                }
            </Form>
        </Modal>
    </ChildContent>
</PageContainer>
