@namespace mbill_blazor_admin.Pages.Core.Permission
@using mbill_blazor_admin.Models.Core
@page "/core/permission"

<PageContainer Title="日志管理">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>主页</BreadcrumbItem>
            <BreadcrumbItem>系统管理</BreadcrumbItem>
            <BreadcrumbItem>权限管理</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>

    <ChildContent>
        <Card>
            <Table DataSource="@_permissionTrees"
                   HidePagination="@true"
                   TreeChildren="item=>item.Children">
                <AntDesign.Column Title="#" Width="50" @bind-Field="@context.Rowkey" />
                <AntDesign.Column Title="权限名" Width="130" @bind-Field="@context.Name" />
                <AntDesign.Column Title="接口地址" Width="200" @bind-Field="@context.Router" />
                <AntDesign.Column Title="创建时间" Width="130" @bind-Field="@context.CreateTime" />
            </Table>
        </Card>
    </ChildContent>
</PageContainer>
