@using mbill_blazor_admin.Models.Core
@namespace mbill_blazor_admin.Pages.Core.Role
@page "/core/role"

<PageContainer Title="角色管理">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>主页</BreadcrumbItem>
            <BreadcrumbItem>系统管理</BreadcrumbItem>
            <BreadcrumbItem>角色管理</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>

    <ChildContent>
        <Card>
            <Table @ref="table"
                   TItem="RoleModel"
                   DataSource="@_roles"
                   Total="_total"
                   OnChange="@onChange"
                   @bind-PageIndex="_pageIndex"
                   @bind-PageSize="_pageSize"
                   @bind-SelectedRows="_selectedRows">
                <AntDesign.Column Title="ID" @bind-Field="@context.Id" />
                <AntDesign.Column Title="名称" @bind-Field="@context.Name" />
                <AntDesign.Column Title="信息" @bind-Field="@context.Info" />
                <AntDesign.Column Title="排序码" @bind-Field="@context.Sort" />
                <AntDesign.Column Title="静态角色" Field="@context.IsStatic">
                    <Switch @bind-Value="@context.IsStatic"></Switch>
                </AntDesign.Column>
                <ActionColumn Title="操作">
                    <Space>
                        <SpaceItem><Button Type="primary" Ghost OnClick="()=>Edit()">编辑</Button></SpaceItem>
                    </Space>
                    <Space>
                        <SpaceItem><Button Danger OnClick="()=>Delete(context.Id)">删除</Button></SpaceItem>
                    </Space>
                    <Space>
                        <SpaceItem><Button OnClick="()=>Permission(context.Id)">权限</Button></SpaceItem>
                    </Space>
                </ActionColumn>
            </Table>
        </Card>
    </ChildContent>
</PageContainer>
