@using mbill_blazor_admin.Models.Core
@namespace mbill_blazor_admin.Pages.Core.Logger
@page "/core/log"

<PageContainer Title="日志管理">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>主页</BreadcrumbItem>
            <BreadcrumbItem>系统管理</BreadcrumbItem>
            <BreadcrumbItem>日志管理</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>

    <ChildContent>
        <Card>
            <Table TItem="LogModel"
                   Loading="@_loading"
                   Total="_total"
                   DataSource="@_logs" 
                   OnChange="onChange"
                   @bind-PageIndex="page.Page"
                   @bind-PageSize="page.Size">
                <AntDesign.Column Title="ID" @bind-Field="@context.Id" />
                <AntDesign.Column Title="请求方式" @bind-Field="@context.Method" />
                <AntDesign.Column Title="信息" @bind-Field="@context.Message" />
                <AntDesign.Column Title="响应状态" @bind-Field="@context.Path" />
                <AntDesign.Column Title="用户名" @bind-Field="@context.Username" />
                <AntDesign.Column Title="创建时间" @bind-Field="@context.CreateTime" />
            </Table>
        </Card>
    </ChildContent>
</PageContainer>
